
  
  .new-expense__control label {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: left;
  }
  
  .new-expense__control input {
    border-radius: 6px;
  }
  
  .new-item__actions {
    text-align: right;
  }
  .new-item__actions button {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
  }
  .new-item__actions button:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }